$espacio-minimo: 20;


#rootCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards-personajes {
    padding: 20px;
    margin: 20px;
    border: 1px solid rgb(204, 202, 202);
    border-radius: 5px;
    background-color: rgb(251, 251, 251);
}

span {
    padding: $espacio-minimo;
}